<!DOCTYPE html>
<html lang="en" ng-app="MyMedia">

<head>
    <meta charset="UTF-8">
    <title>Media</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div ng-controller="App">
        <div class="container">

            <input type="text" ng-model="titleSearch">
            <button class="btn btn-success btn-large" ng-click=search()>Search</button>
            <div ng-repeat="movie in movies">
                <img ng-if="movie.Poster !== 'N/A'" ng-src="{{movie.Poster}}" alt="">
                <h2>{{movie.Title}}</h2>
                <p>{{movie.Plot}}</p>
                <p>{{movie.Genre}}</p>
            </div>
        </div>    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>