.fa {
    color: white;
}

body {
    color: white;
    font-family: 'Oxygen', sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.social {
    text-align: center;
    vertical-align: middle;
}

.info {
    vertical-align: middle;
}

.info {
    /*    background-color: black;*/
}

.contact {
vertical-align: middle;
    padding: 50px;

}

#linkedin {
    color: #0077B5;
}

#github {
    color: black;
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-envelope {
    color: black
}

.fa-phone {
    color: black
}

a:link,
a:visited {
    outline: 0;
    color: black;
}

.view {
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.9;
    position: inherit;
    color: black;
}

.social {
    padding-top: 100px;
}

.me {
    max-width: 50%;
    max-height: 50%;
}

.info {
    padding-top: 30px;
}

.name {
    font-size: 60px;
    letter-spacing: 8px;
}

.title {
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
}

img {}

.img-responsive {
    height: auto;
    max-width: 100%;
    padding: 0px;
}

.image {
    position: relative;
    display: inline-block;
    max-height: 170px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #aaa;
    /*    padding: 15px;*/
    opacity: 0.9;
}

.image:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.imageTwo {
    position: relative;
    display: inline-block;
    max-height: 150px;
    max-width: 90%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #aaa;
    /*    padding: 15px;*/
    opacity: 0.9;
}

.imageTwo:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

#me {
    position: relative;
    display: inline-block;
    max-height: 300px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #aaa;
    /*    padding: 15px;*/
    opacity: 0.9;
}

#me:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.imagecc {
    position: relative;
    /*    max-width: 100%;*/
    max-height: 205px;
    box-shadow: 5px 5px 10px #aaa;
    padding: 0px;
    vertical-align: middle;
    opacity: 0.9;
}

.imageitesm {
    position: relative;
    /*    max-width: 70%;*/
    max-height: 205px;
    box-shadow: 5px 5px 10px #aaa;
    padding: 0px;
    vertical-align: middle;
    opacity: 0.9;
    ;
}

.imagecc:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.imageitesm:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

h2 {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 5px;
}

h3 {
    color: black;
    text-align: center;
    display: block;
}

p {
    line-height: 1.7;
    font-size: 18px;
    text-align: justify;
}

hr {
    box-shadow: 5px 5px 10px #aaa;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-bottom: 0;
}


/*---------------navbar---------------*/

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>li>a:focus {
    filter: blur(1px);
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    color: white;
}


/*------------navbar animation------------*/

.spacer,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
#grid .mix .overlay {
    background: #3498db;
}

.navbar-brand>a:hover {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    position: relative;
    overflow: hidden;
    align-content: center;
}

.navbar-default .navbar-nav>li>a:active {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* backface-visibility: hidden; */
    position: relative;
    overflow: hidden;
    align-content: center;
}


/*nganimate begins*/

@keyframes scaleUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blur {
    from {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    to {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

.background.ng-enter {
    animation: blur;
}

.home.ng-enter {
    animation: scaleUp 1s;
}

.skills.ng-enter {
    animation: scaleUp 1s;
}

.about.ng-enter {
    animation: scaleUp 1s;
}

.portfolio.ng-enter {
    animation: scaleUp 1s;
}

.education.ng-enter {
    animation: scaleUp 1s;
}

.contact.ng-enter {
    animation: scaleUp 1s;
}