.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.fa {
    color: white;
}

body {
    color: white;
    background-image: url("http://www.easyoffer.net/p/nature-wallpaper-6721.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oxygen', sans-serif;
}

.social {
    text-align: center;
    vertical-align: middle;
}

.info {
    vertical-align: middle;
}

.info {
    /*    background-color: black;*/
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.view {
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
    position: static;
    color: black;
}

.social {
    padding-top: 100px;
}


/*
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
a:hover,
a:active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #3498db;
}
*/

.info {
    padding-top: 30px;
}

.name {
    font-size: 60px;
    letter-spacing: 8px;
}

.title {
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
}

.image {
    width: 70%;
    height: 70%;
    box-shadow: 5px 5px 10px #aaa;
    padding: 15px;
    vertical-align: middle;
}

h2 {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 5px;
}

h3 {
    color: black;
    text-align: center;
}

hr {
    box-shadow: 5px 5px 10px #aaa;
    color: black;
    margin-top: 0;
    margin-bottom: 30px;
}

.spacer,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
#grid .mix .overlay {
    background: #3498db;
}